.intro {
  background-color: white;
  display: flex;
  margin-top: -1%;
}

.left {
  flex: 0.5;
  height: auto;
}

.right {
  flex: 0.5;
  height: auto;
}

#profilePic {
  display: block;

  margin-left: auto;
  margin-right: auto;
}

#bio {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 6%;
  font-weight: 500;
}

#name {
  color: #46bdd5;
  margin-top: 5%;

  font-family: "Montserrat Subrayada", sans-serif;
}
