html {
  overflow: hidden;
}

.intro {
  background-color: white;
  display: flex;
  margin-top: -1%;

  
}

.left {
  flex: 0.5;
  background-color: #73922500;
  height: auto;
}

.right {
  flex: 0.5;
  height: auto; 

}

#profilePic {

  display: block;
  /* height: auto%;
  max-width: 100%; */
  margin-left: auto;
  margin-right: auto;
}

#name {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: xxx-large;
  color: #531516;
  padding-top: 6%;
}



#bio {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 6%;
  font-weight: 500;
  
}
