.card-footer {
  padding: 0.5 rem 1 rem;
  background-color: rgba(255, 255, 255, 0);
  border-top: 0px solid rgba(255, 255, 255, 0);
}

.navbar-nav {
  margin-left: auto;
  padding-right: 3%;
}

.card-footer a:hover {
  background: #12151c;
}

.fa-linkedin,
.fa-github,
.fa-instagram {
  color: #531516;
}

html{
  margin-top: 5%;
}